/*This is a comment*/

body{
    font-family: 'Avenir', sans-serif;
    margin: 0px;
    background-color: #f7f7f7;
}
h1{
    color: #451F11;
    font-size: 100px;
    font-family:'Palatino', serif;
    display: inline-block;
   
    }

#love {
  animation-name: love;
  animation-duration: 2s;
  
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes love {
    0% {
        transform: translate(0px, -50px);
        opacity: 0%;
    }
    100% {
        tranform: translate(0px, 0px)
    }
}   

#second-header{
    color:white;
    padding-left: 20px;
    animation-name: second;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes second {
    0% {
        transform: translate(0px, 50px);
        opacity: 0%;
    }
    100% {
        tranform: translate(0px, 0px)
    }
}

p{
    font-size: 14px;
    width: 30%;
}

#hero-section {
display: flex;
justify-content: center;
align-items:center;
height: 100vh;
position: relative;
}

#hero-wrapper{
    width: 700px;
    text-align: center;
    position: relative;
    z-index: 2;
    padding-left: 37px;

}

#hero-beans{
    background-image: url("img/beans.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: absolute; 
    top: 0px;
    right: 0px;
    width: 50%; 
    height: 600px;
    z-index: 1;
}

#navbar {
    background-color: none;
    position: absolute;
    z-index: 5;
    top: 0px;
    width: 100vw;
    height: 30px;
    align-items: center; 
    display: flex;
    flex-direction: row;
}
#nav-social {
    
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
   
}

#nav-text {
       
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    
    
    
}

#icon {
        height: 22px;
        margin-right: 50px;
}

#menu-link {
    color: white;
    margin-left: 50px;
}

.standard-margin-section{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
}

.columns-wrapper{
    display: flex;

}

.column{
    max-width: 30%;
    background-color: #ffffff;
}

.column-image{
    width: 100%;
}

.middle{
    margin-right: 20px;
    margin-left: 20px;
}

.column-text-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 25px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(350px, auto);

    grid-gap: 15px;
}

.espresso-pic{
    background-image: url("img/esspre.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 2/4;
    grid-row: 1/2;
}

.cappucino-pic{
    background-image: url("img/cap.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 1/3;
    grid-row: 2/3;
}

.grid-text{
    grid-column: 1/2;
    grid-row: 1/2;

    background-color: white;

    padding: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondone{
    grid-column: 3/4;
    grid-row: 2/3;
}

.grid-writing{
    width: 100%;
    text-align: left;
}

#formsbox {
    padding-top: 200px;
    display: flex;
    
}

#lets{
    padding: 40px;
    text-align: center;
}

#img {
    display: flex;
    background-image: url(img/esp_.jpg);
    color: white;
    width: 48%;
    font-size: 60px;
    background-size: cover;
    background-position: center;
    margin-right: 5%;
}

#forms {
    display: flex;
    width: 48%; 
    align-items: center;
    
    background-color: white;
}

input, textarea {
    margin-top: 25px;
    margin-left: 12.5%;
    border: none;
    background-color: #f7f7f7;
   
}

input[type=text], textarea{
    height: 50px;
    width: 75%;
    padding-left: 10px;
}

input[type=submit]:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
}


form {
    width: 100%;
}

.footer{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    padding-top: 25px;
    
}



.foot-wrap {
    background-color: white;
    
}
#foot-coffee {
    font-size: 50px;
    
}

#contact {
    display: flex;
    margin-left: 70%;
    margin-bottom: 15px;
    
}

.foota-link {
    margin-left: 15px;
    
}

#copyright {
    background-color: #f7f7f7;
    height: 15px;
   
    
}

#copyright-text {
    text-align: center;
    width: 100%;
    font-size: 10px;
   
}

@media screen and (max-width: 600px) {

    #hero-section {
        height: 40vh;
    }
    
    #hero-wrapper {
        flex-direction: row;
        position: relative;
        height: 40%;
    }
    
    #love {
       padding: 0px;
        margin-bottom: 0px;
    
    }

    #second-header {
        padding: 0px;
        margin-top: 0px;
    }

    #hero-beans {
        flex-direction: row;
        position: relative;
        width: 100vw;
    }

    #coffeeblurb {
        color: white;
        width:70vw;
        font-size: 25px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        line-height: 40px;
        font-weight: lighter;
    }

    .standard-margin-section {
        max-width: 590px;
    }

    .columns-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .column {
        max-width: 90%;
        background-color: #ffffff;
        margin-top: 40px;
    }

    .middle {
        margin-right: 0px;
        margin-left: 0px;
    }

    .column-text-wrapper {
        padding: 40px;
    }

}